.menu_bar {
    background-color: #0F3178; 
    position: fixed; 
    top: 0; width: 100%; 
    z-index: 1000;
}
.menu_bar ul {list-style: none;}
.menu_bar li a, .menu_bar span, .menu_bar span a {color: #FFFFFF; text-decoration: none;}
.menu_bar ul li a:hover, 
.menu_bar span a:hover {
    text-decoration: underline; /* 밑줄을 추가합니다 */
}
.menu_bar .dropdown:hover .dropdown-content {
    display: block; /* 드롭다운 메뉴를 보여줍니다 */
    background-color: rgba(143, 162, 199, 0.81);
}
.menu_bar .dropdown .dropdown-content:hover{
    display: block;
    background-color: rgba(143, 162, 199, 0.81);
}
.menu_bar ul .dropdown .dropdown-content a {
    display: block;
    background-color: rgba(143, 162, 199, 0.81);
}