.menu_bar a {height: 100%; width: auto;}
.menu_bar a img {height: 100%; width: auto;}
.main_video {position:relative;  width: 100%; height: 100%; object-fit: cover;}
.menu_bar li, .menu_bar span {font-size: 10pt;}

.Calendar {width: 600px; height: auto;}
.Calendar td{width: 60px; height: 60px;}
.subtitle {font-size: 15pt;}